{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block page_title %} GeoDjango {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block page_css %}
    {% endblock %}
  </head>
  <body>
    {% block page_content %}{% endblock %}
  </body>
  <script src="{% static 'js/lib/require.js' %}"></script>
  <script src="{% static 'js/lib/require-config.js' %}"></script>
  {% block page_javascript %}{% endblock %}
</html>
